In [3]:
import pandas as pd
df = pd.read_csv(r"C:\Users\tamal\Documents\Atliq_Hospital_Project\Rooms.csv")

In [4]:
df.head()

  room_id    room_class
0     RT1      Standard
1     RT2         Elite
2     RT3       Premium
3     RT4  Presidential

In [6]:
df['room_class'] = df['room_class'].str.capitalize()